body {
	padding-left: 2%;
		font-family: "Merriweater-Italic.ttc";
}
.text {
	text-align: center;
	height: 150px;
	padding-top: 70px;

}
.logo {
	padding-top: 8px;
	height: 50px;
	width: 100px;
	text-align: center;
}
.sharing {
	width: 55px;
	height: 55px;
	padding-top: 5px;
}
.title {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 5px;
	padding-top: 2px;

}
div {
	text-align: center;
	margin-top: 2px;
	font-size: 18px;
}
.card {
    transition: 0.3s;
    border-color: black;
    margin-right: 2%;
    margin-bottom: 5%;
}
.card-body {
	background-color: #311b92;
}
.large {
	width: 100%;
	margin-top: 20px;
}
#paragraph {
	text-align: left;
}
.button {
	background-color: #0086b3;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;

}
.hand {
	cursor: pointer;
}
.button:hover {
	background-color: #b3b3cc;
}
.back {
	margin-top: 1%;
	background-color: #0086b3;
}
.link {
	width: 10%;
}
.dosome {
	font-size: 40px;
}
.celest-color {
	background-color:  #e79899;
	color: white;
}
.hamdia-color {
	background-color:  #6fbac3;
	color: white;
}
.ziad-color {
	background-color:  #6E7376;
	color: white;
}
.santos-color {
	background-color:  #4ABDAC;
	color: white;
}
.anya-color {
	background-color:  #6fbac3;
	color: white;
}
.seun-color {
	background-color:  #6E7376;
	color: white;
}
.mari-color {
	background-color:  #4ABDAC;
	color: white;
}
.grace-color {
	background-color:  #e79899;
	color: white;
}
.katie-color {
	background-color:  #4ABDAC;
	color: white;
}
.nikhil-color {
	background-color:  #e79899;
	color: white;
}
.shawn-color {
	background-color:  #6E7376;
	color: white;
}
.merrit-color {
	background-color:  #6fbac3;
	color: white;
}
.brittany-color {
	background-color:  #4ABDAC;
	color: white;
}
.clifton-color {
	background-color:  #6E7376;
	color: white;
}
.tiffany-color {
	background-color:  #e79899;
	color: white;
}
.sara-color {
	background-color:  #6fbac3;
	color: white;
}
.raeVen-color {
	background-color:  #4ABDAC;
	color: white;
}
.courtney-color {
	background-color:  #e28385;
	color: white;
}
.sojourner-color {
	background-color:  #6fbac3;
	color: white;
}
.giavonni-color {
	background-color:  #6E7376;
	color: white;
}
