
.text {
	text-align: center;
	height: 150px;
	padding-top: 70px;

}
.logo {
	height: 35px;
	width: 75px;
	margin-top: 5px;
}
#sharing {
	width: 85px;
	height: 35px;
	margin-top: 5px;
}
.title {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	font-family: "Merriweater-Italic.ttc";
	letter-spacing: 5px;

}
.closing {
	background-color: pink;
}
.first {
	font-size: 25px;
	color: #0000cc;
	margin-bottom: 35px;
}
div {
	text-align: center;
}


.images {
	width: 100%;
}
#image1 {
	background-image
}
.card {
    transition: 0.3s;
    border-color: black;
    margin-right: 2%;
    margin-bottom: 5%;
}
